* {
    border: 1px solid red;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 1;
}

.thumbnails {
    flex: 1;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    flex: 1;
}

.signup {
    flex: 1;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}