* {
    border: 1px solid red;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex-shrink: 0;
}

.header-links {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.thumbnails {
    flex: 1;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.quotation {
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.attribution {
    margin: 0;
    text-align: right;
    font-weight: bold;
}

.signup {
    flex: 1;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 24px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 8px;
}