* {
    border: 1px solid red;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    flex: 1;
}

.thumbnails {
    flex: 1;
}

.quote {
    flex: 1;
}

.signup {
    flex: 1;
}